.DS_Store
CHANGELOG-UNRELEASED
documentation
gh-pages

# Developer Tools
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

lemon/build

build
build-xcode
build-xcode-debug

test/parser_test.c
test/parser_test.h
test/parser_test.out
test/a.out

/.build
/Packages
/mmd-swift.xcodeproj

*.orig
